spawn-at-startup "waybar"
spawn-at-startup "elephant"
spawn-at-startup "awww-daemon"
spawn-at-startup "fcitx5"
spawn-at-startup "steam" "-silent" "-cef-disable-gpu"
spawn-at-startup "sh" "-c" "walker --gapplication-service"
spawn-at-startup "sh" "-c" "wl-paste --type text --watch cliphist store"
spawn-at-startup "sh" "-c" "wl-paste --type image --watch cliphist store"
spawn-at-startup "sh" "-c" "systemctl link --user ~/.config/niri/processes/awww-random-wallpaper.service"
spawn-at-startup "sh" "-c" "systemctl link --user ~/.config/niri/processes/awww-random-wallpaper.timer"
spawn-at-startup "sh" "-c" "systemctl enable --user awww-random-wallpaper.timer"
spawn-at-startup "sh" "-c" "systemctl link --user ~/.config/niri/processes/swayidle.service"
spawn-at-startup "sh" "-c" "systemctl enable --user swayidle.service"
spawn-at-startup "sh" "-c" "~/.config/niri/scripts/otd_switcher.sh"
spawn-at-startup "kitty"
