include "hardware.kdl"
include "autostart.kdl"
include "visuals.kdl"
include "rules.kdl"
include "binds.kdl"

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

hotkey-overlay {
    skip-at-startup
}

gestures {
    hot-corners {
        off
    }
}
