niri
xwayland-satellite
xdg-desktop-portal-gnome
xdg-desktop-portal-gtk
dms-shell-niri
matugen
cava
qt6-multimedia-ffmpeg
kitty
waybar
walker
swayidle
swaylock-effects
wl-clipboard
cliphist
wireplumber
playerctl
brightnessctl
fcitx5
awww
socat
opentabletdriver
