window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule { 
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"# 
    default-floating-position x=0 y=0 relative-to="bottom-right" 
    open-focused false 
}
