[Unit]
Description=SwayIdle Service
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swayidle -w \
  timeout 301 '/home/wedoscao/.config/niri/scripts/lock.sh' \
  timeout 601 'niri msg action power-off-monitors' resume 'niri msg action power-on-monitors' \
  before-sleep '/home/wedoscao/.config/niri/scripts/lock.sh'
Restart=on-failure

[Install]
WantedBy=graphical-session.target
